<mat-grid-list cols="4" rowHeight="1:1.5" class="employee-card">
    <mat-grid-tile class="ops-avatar">
      <div class="employee-avatar" style="background-image: url('../../assets/img/doctah.png');"></div>
    </mat-grid-tile>
    <mat-grid-tile class="ops-detail">
      <div class="div-detail">
        <h1>Code Name : Doctor</h1>
        <h1>Real Name : ???</h1>
        <h1>Base Stat : ???</h1>
        <p class="detail_base">
          HP: ???<br />
        </p>
        <p class="detail_base">
          Attack: ???<br />
        </p>
        <p class="detail_base">
          Defense: ???<br />
        </p><br>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="story-container">
    <div class="h1-title">Profile Detail : </div>
    <div class="profile-detail">
                The Doctor is the player character in Arknights. The Doctor is known to be the consulting strategist, and may have been the co-founder, of Rhodes Island Pharmaceutical, Inc.. 
    </div>
    <div class="h1-title">Story : </div>
    <br>
    <div class="profile-detail">
        In the dystopian, post-apocalyptic future setting of the planet Terra where magic exists and Ancients, humans with animal or mythological races features live, Terra is plagued by natural disasters that leave behind a mineral, Originium. This metal's properties allowed civilisation to rapidly progress, but also infected people with a disease, oripathy. Due to the disease's 100% mortality rate, and its high infectivity at the time of death, hostility towards the infected became widespread, leading to their mass quarantine and expulsion by governments worldwide.

        The player takes the role of the masked and amnesiac "Doctor", recently recovered from cryonic sleep. The Doctor commands a team of "operators" belonging to Rhodes Island Pharmaceuticals, a medical and self-defense organization. As oripathy spreads, the team must search for a cure while defending themselves against the Reunion Movement, an Infected anarchist military force bent on overthrowing the governments of Terra in revenge for persecuting oripathy victims.[2] 
    </div>
</div>