.container {
  padding: 10px;
  // width: 100%;
  // height: 700px;
  // overflow-x: scroll;
  flex-wrap: wrap;
  // display: flex;
  background-color: #dbdbdb;
  justify-content: space-evenly;
}
